<html>
    <head>
        <title>Morgan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Morgan's Blog</a></h1>
        </div>

        <div>
            <p>published: 10.09.2015, 09:42</p>
            <h2><a href="">My first post</a></h2>
            <p>There are lots of cats in this room.</p>
        </div>

        <div>
            <p>published: 10.09.2015, 09:42</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello there</p>
        </div>
    </body>
</html>